# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
#sudo_user      = root
#ask_sudo_pass = True
[all]
remote_tmp = $HOME/.ansible/tmp
local_tmp = $HOME/.ansible/tmp
[persistent_connection]
ssh_type = auto
#/root/.local/lib/python3.6/site-packages
[defaults]
inventory      = mik.hosts.ini
ansible_python_interpreter = /usr/bin/python3
# ansible_python_interpreter = "{{ ansible_playbook_python }}"
discovered_interpreter_python = /usr/bin/python3
interpreter_python = /usr/bin/python3
user = root